<div id="updateStatus" class="modal bottom-sheet">
  <div class="modal-content">
    <h5>Status de </h5>
    <div class="row">
      <div class="col s12 m4">
        <a href="{% url 'accounts:active' user_taxed.pk %}" class="waves-effect waves-light teal darken-2 btn osgeni-btn-block"><i class="mdi-action-done-all left"></i>Ativar</a>
      </div>
      <div class="col s12 m4">
        <a href="{% url 'accounts:disable' user_taxed.pk %}" class="waves-effect waves-light yellow darken-2 btn osgeni-btn-block"><i class="mdi-action-info-outline left"></i>Desativar</a>
      </div>
      <div class="col s12 m4">
        <a href="{% url 'accounts:block' user_taxed.pk %}" class="waves-effect waves-light red darken-2 btn osgeni-btn-block"><i class="mdi-content-block left"></i>Bloquear</a>
      </div>
    </div>
  </div>
</div>
