{% load widget_tweaks %}
<div id="updateProfile" class="card-reveal modal bottom-sheet" style="display: none; transform: translateY(0px);">
  <span class="card-title grey-text text-darken-4">
    Editar {{user.get_short_name}} <i class="mdi-navigation-close right"></i></span>
  <div class="row">
    <form method="POST" class="col s12">
      {% csrf_token %}

      <div class="row">

        {% for field in form_up  %}
        <div class="input-field col s12 m6">
          {% render_field field class="validate"  %}
          <label for="{{field.auto_id}}">{{field.label}}</label>
        </div>
        {% endfor %}

      </div>

      <div class="row">
        <div class="input-field col s12">
          <button class="btn teal darken-2 waves-effect waves-light right" type="submit" name="action">Atualizar
            <i class="mdi-action-done right"></i>
          </button>
        </div>
      </div>

    </form>
  </div>

</div>
