{% load widget_tweaks %}
<div class="modal fade mol-top" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressModal">Modifique os Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'address:new'%}">
           {% csrf_token %}
          <div class="form-group">
            <label for="{{form_address.cep.auto_id}}" >{{form_address.cep.label}}</label>
            {% render_field form_address.cep  class='form-control' placeholder='CEP' %}
          </div>
          <div class="form-group">
            <label for="{{form_address.state.auto_id}}" >{{form_address.state.label}}</label>
            {% render_field form_address.state  class='form-control' placeholder='Nome' %}
          </div>
          <div class="form-group">
            <label for="{{form_address.city.auto_id}}" >{{form_address.city.label}}</label>
            {% render_field form_address.city  class='form-control' placeholder='Cidade' %}
          </div>
          <div class="form-group">
            <label for="{{form_address.neighborhood.auto_id}}" >{{form_address.neighborhood.label}}</label>
            {% render_field form_address.neighborhood  class='form-control' placeholder='Telefone' %}
          </div>
          <div class="form-group">
            <label for="{{form_address.street.auto_id}}" >{{form_address.street.label}}</label>
            {% render_field form_address.street  class='form-control' placeholder='Telefone' %}
          </div>
          <div class="form-group">
            <label for="{{form_address.number.auto_id}}" >{{form_address.number.label}}</label>
            {% render_field form_address.number  class='form-control' placeholder='Telefone' %}
          </div>
          <div class="form-group">
            <input type="submit" value="Cadastrar Endereço" class="btn btn-primary">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>
