<div class="modal fade mol-top" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imgModal">Modifique os Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" action="{% url 'accounts:upload' %}" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="input-group">
                <input type="file" name="avatar" class="form-control">
                <span class="input-group-btn">
                    <button type="submit" name="button" class="btn btn-success">Atualizar foto</button>
                </span>
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>
