{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

<!-- IMPORTS CUSTOM -->
{% block imports_custom %}
    {% include "imports_pageCenter_css.html" %}
{% endblock %}

<!-- LOAD CUSTOM - BLANK = NONE -->
{% block load %}
{% endblock %}

<!-- BEGIN BLOCK BODY -->
{% block body %}

    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">


            <form class="login-form" method="POST">
                {% csrf_token %}

                <div class="row">
                  <div class="input-field col s12">
                    <!--<i class="mdi-action-bookmark prefix active"></i>-->
                    {% render_field form.cep class="validate valid" %}
                    <label for="{{form.cep.auto_id}}" class="active">{{form.cep.label}}</label>
                  </div>
                  {% for error in form.cep.errors %}
                      <p class="card-panel red col s12">O campo de {{error}}</p>
                  {% endfor %}
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <!--<i class="mdi-action-bookmark prefix active"></i>-->
                    {% render_field form.state class="validate valid" %}
                    <label for="{{form.state.auto_id}}" class="active">{{form.state.label}}</label>
                  </div>
                  {% for error in form.state.errors %}
                      <p class="card-panel red col s12">O campo de {{error}}</p>
                  {% endfor %}
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <!--<i class="mdi-action-bookmark prefix active"></i>-->
                    {% render_field form.city class="validate valid" %}
                    <label for="{{form.city.auto_id}}" class="active">{{form.city.label}}</label>
                  </div>
                  {% for error in form.city.errors %}
                      <p class="card-panel red col s12">O campo de {{error}}</p>
                  {% endfor %}
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <!--<i class="mdi-action-bookmark prefix active"></i>-->
                    {% render_field form.neighborhood class="validate valid" %}
                    <label for="{{form.neighborhood.auto_id}}" class="active">{{form.neighborhood.label}}</label>
                  </div>
                  {% for error in form.neighborhood.errors %}
                      <p class="card-panel red col s12">O campo de {{error}}</p>
                  {% endfor %}
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <!--<i class="mdi-action-bookmark prefix active"></i>-->
                    {% render_field form.street class="validate valid" %}
                    <label for="{{form.street.auto_id}}" class="active">{{form.street.label}}</label>
                  </div>
                  {% for error in form.street.errors %}
                      <p class="card-panel red col s12">O campo de {{error}}</p>
                  {% endfor %}
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <!--<i class="mdi-action-bookmark prefix active"></i>-->
                    {% render_field form.number class="validate valid" %}
                    <label for="{{form.number.auto_id}}" class="active">{{form.number.label}}</label>
                  </div>
                  {% for error in form.number.errors %}
                      <p class="card-panel red col s12">O campo de {{error}}</p>
                  {% endfor %}
                </div>

                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Avançar
                  <i class="mdi-content-send right"></i>
                </button>
            </form>


        </div>
    </div>

{% endblock %}
