{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<div class="page-header">
  <div class="row">
    <div class="col-lg-3 offset-lg-9">
      <a href="{% url 'store:add' pk %}" class="btn btn-primary">Comprar Produto <i class="fa fa-cart-plus" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<section class="client">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-10 offset-1">
        <div class="client card">
          {% if user.nivel == 1 or user.nivel == 0 %}
          <div class="card-close">
           <div class="dropdown">
            <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
              <div aria-labelledby="closeCard" class="dropdown-menu has-shadow">
                <a href="#" class="dropdown-item edit" data-toggle="modal" data-target="#productModal">
                  <i class="fa fa-cog" aria-hidden="true"></i>Editar Produtor</a>
              </div>
            </div>
           </div>
          {% endif %}
          <div class="card-body text-center">

              <img src="{% static 'images/caneca.png'' %}" alt="..." class="img-fluid" width="304" height="236">

            <div class="client-title">
              <h3>{{product}}</h3>
            </div>
              <div class="client-info">
                <div class="row">
                  <div class="col-4"><small>Quantidade</small><br><strong>{{product.amount}}</strong></div>
                  <div class="col-4"><small>Preço</small><br><strong>R$ {{product.saleValue}}</strong></div>
                  <div class="col-4"><small>Tamanho</small><br><strong>{{product.size}}</strong></div>
                </div>
              </div>
              <div class="client-info">
              <small>Descrição</small> <br> {{product.description}}
              </div>
            </div>
         </div>
      </div>
   </div>
 </div>
</section>
<!-- versão 1.1
<div class="text-center">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="statistic bg-white has-shadow">
        <h2>Items de Fabricação</h2>
    </div>
  </div>
</div>
</div>
-->
{% include "modais/modal_form_product.html" %}
{% endblock %}
