{% load widget_tweaks %}

<div class="modal fade mol-top" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModal">Editar Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <form method="POST">
              {% csrf_token %}
            <div class="form-group">
              <label for="{{form.name.auto_id}}" class="form-control-label">{{form.name.label}}</label>
              {% render_field form.name class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{form.size.auto_id}}" class="form-control-label">{{form.size.label}}</label>
              {% render_field form.size class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{form.amount.auto_id}}" class="form-control-label">{{form.amount.label}}</label>
              {% render_field form.amount class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{form.acquiredValue.auto_id}}" class="form-control-label">{{form.acquiredValue.label}}</label>
              {% render_field form.acquiredValue class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{form.saleValue.auto_id}}" class="form-control-label">{{form.saleValue.label}}</label>
              {% render_field form.saleValue class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{form.category.auto_id}}" class="form-control-label">{{form.category.label}}</label>
              {% render_field form.category class="form-control" %}
            </div>
            <div class="form-group">
              <label for="{{form.description.auto_id}}" class="form-control-label">{{form.description.label}}</label>
              {% render_field form.description class="form-control" %}
            </div>
            <div class="form-group">
              <input type="submit" value="Salvar" class="btn btn-primary">
            </div>
          </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
        </div>
    </div>
  </div>
</div>
