{% extends "dashboard/base.html" %}

{% block content %}
<div class="row">

  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Minhas Compras</h5>
    <ol class="breadcrumb">
      <li class="active">Minhas Compras</li>
    </ol>
  </div>

  <div class="col s12 m12 ">

    <div class="row">

        <div class="col s12 m6 l4 offset-l4">
          <div class="dataTables_filter">
            <form action="?search=" class="row" method="GET">
              <div class="col s10">
                <div class="input-field">
                  <input type="text" id="search" name="search">
                  <label for="search">Pesquisar Ordem por Cliente</label>
                </div>
              </div>
              <div class="col s2">
                <button type="submit" class="btn-floating waves-effect waves-light teal darken-2 osgeni-btn-search"><i class="mdi-action-search"></i></button>
              </div>
            </form>
          </div>
        </div>

        <div class="col s12 m6 l3 offset-l1">
          <a class='dropdown-button waves-effect waves-light teal darken-1 btn osgeni-btn-block filter-margin-top'
            href='#' data-activates='filter'>Status
            <i class="mdi-content-filter-list right"></i>
          </a>
          <ul id='filter' class='dropdown-content'>
            <li><a href="?filtro=todos" class="teal-text text-darken-2">Todos</a></li>
            <li><a href="?filtro=fabricar" class="teal-text text-darken-2">Fabricar</a></li>
            <li><a href="?filtro=finalizada" class="teal-text text-darken-2">Finalizada</a></li>
            <li><a href="?filtro=entregue" class="teal-text text-darken-2">Entregue</a></li>
          </ul>
        </div>

        <div class="col s12 m12 l12">
          <table class="striped">

            <thead>
              <tr>
                <th>Usuário</th>
                <th>Cliente</th>
                <th>Valor Total R$</th>
                <th>Data De Entrega</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              {% for order in orders  %}
              <tr>
                <th scope="row">{{ order.user }}</th>
                <td>{{ order.name }}</td>
                <td>{{ order.valueTotal }}</td>
                <td>{{ order.dateEnd }}</td>
                <td>{{ order.get_status_display }}</td>
                 <td>
                  <a href="{% url 'store:detail_order' order.pk %}" class="btn-floating waves-effect waves-light blue-grey">
                    <i class="mdi-action-visibility"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="6">Nenhum aparelho cadastrado</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

  </div>

</div>

<div class="col s12">
  {% include "dashboard/paginator.html" %}
</div>

<div class="fixed-action-btn">
  <a href="#S" class="btn-floating btn-large teal darken-2">
    <i class="large mdi-content-add"></i>
  </a>
</div>

</div>
{% endblock %}
