{% extends "base_dashboard.html" %}
{% load static %}
{% block content %}

<section class="client">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
      <div class="client card">
        <div class="card-body text-center">
          <div class="client-avatar"><img src="{% static 'images/avatar.jpg'' %}" alt="..." class="img-fluid rounded-circle">
          </div>
            <h4>{{user}}</h4>
<!--Modal Nivel-->
                {% if user.nivel == 1 or user.nivel == 0 %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nivelModalLabel">
                 <h4> <i class="fa fa-gamepad" aria-hidden="true"></i> Administrador</h4>
                 </button>
                {% endif %}
                {% if user.nivel == 2 %}
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#nivelModalLabel">
                  <h4><i class="fa fa-users" aria-hidden="true"></i> Vendedor</h4>
                  </button>
                {% endif %}
                {% if user.nivel == 3 %}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nivelModalLabel">
                  <h4><i class="fa fa-user" aria-hidden="true"></i> Cliente</h4>
                </button>
                {% endif %}
                <div class="modal fade" id="nivelModalLabel" tabindex="-1" role="dialog" aria-labelledby="nivelModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="nivelModalLabel">Modifique os Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          O nível de permissão da aos usuários privilegios no sistema
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary" href="{% url 'accounts:adm' user.pk %}" role="button">Administrador</a>
                        <a class="btn btn-warning" href="{% url 'accounts:salesman' user.pk %}">Vendedor</a>
                        <a class="btn btn-success" href="{% url 'accounts:customer' user.pk %}">Cliente</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                      </div>
                    </div>
                  </div>
                </div>
<!--Fim Modal Nivel-->
         </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="client card">
          <div class="card-body text-center">
            <h3><h4>Status</h4>
<!--Modal Status-->
                {% if user.status == 0%}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#statusModal">
                  <h4><i class="fa fa-smile-o" aria-hidden="true"></i> Ativado</h4>
                </button>
                {% endif %}
                {% if user.status == 1 %}
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#statusModal">
                  <h4 class="text-secondary"><i class="fa fa-times" aria-hidden="true"></i> Desativado</h4>
                  </button>
                {% endif %}
                {% if user.status == 2 %}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#statusModal">
                  <h4><i class="fa fa-lock" aria-hidden="true"></i> Bloqueado</h4>
                  </button>
                {% endif %}
              </button>
                <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModal" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="statusModal">Modifique os Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          O status é a situação do usuario no sistema
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-success" href="{% url 'accounts:active' user.pk %}" role="button">Ativar</a>
                        <a class="btn btn-warning" href="{% url 'accounts:disable' user.pk %}">Destivar</a>
                        <a class="btn btn-danger" href="{% url 'accounts:block' user.pk %}">Bloquear</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                      </div>
                    </div>
                  </div>
                </div>
<!--Modal Status Fim-->
            </h3>
            <h3><i class="fa fa-user-circle" aria-hidden="true"></i> Username: {{user.username}}</h3>
            <h3><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{user.email}}</h3>
            <h3><i class="fa fa-phone-square" aria-hidden="true"></i> Telefone: {{user.phone}}</h3>
          </div>
       </div>
      </div>
   </div>
 </div>
</section>

<section class="client">
<div class="container-fluid">
  <div class="row">
    {% for add in address %}
    <div class="col-lg-6">
      <div class="client card card-body text-center">
          <h3> Rua:  {{add.street}}   Nº {{add.number}}</h3>
          <h3> Bairo:  {{add.neighborhood}}</h3>
          <h3> Cidade: {{add.city}}, Estado:  {{add.state}}</h3>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</section>

{% endblock %}
