<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="pt-br">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Plataforma para gerenciar o e-commerce. Melhor solução de gerenciamento de vendas">
    <meta name="keywords" content="e-commerce, produtos, venda, plataforma, gerenciamento">

    <title>GRAPHIC - Personalize</title>

    <!-- Favicons-->
    <link rel="icon" href="#" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="#">

    <!-- CORE CSS-->
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/custom.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'css/page-center.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{% static 'js/plugins/perfect-scrollbar/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

</head>

<body class="bg-dark">


  <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" method="POST">
        {% csrf_token %}

        <div class="row">
          <div class="input-field col s12 center">
            <img src="#S" alt="" class="valign osgeni-logo-login">
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            {% render_field form.username %}
            <label for="{{form.username.auto_id}}" class="center-align">{{form.username.label}}</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            {% render_field form.password %}
            <label for="{{form.password.auto_id}}" class="center-align">{{form.password.label}}</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light teal darken-2 col s12">Acessar</button>
          </div>
        </div>

      </form>
    </div>
  </div>

    <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/func.js' %}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{% static 'js/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <!-- Toast Notification -->
    <script type="text/javascript">

</body>

</html>
