{% extends "nav.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- START CONTENT -->
<section id="content">

  <!--start container-->
  <div class="container">

    <div class="row">


      <!-- PROFILE CUSTOMER BOX BEGIN -->

      <div class="col s12 m6 l6">
        <div id="profile-card" class="card">

          <div class="card-image waves-effect waves-block waves-light">
            <img src="{% static 'images/user-bg.jpg' %}" alt="user bg">
          </div>

          <div class="card-content">
            <img src="{% static 'images/avatar.jpg' %}" alt="" class="circle responsive-img card-profile-image">

            <span class="btn-floating btn-move-up waves-effect waves-light darken-2 right
            {% if user_request.status == 0 %} green {% elif user_request.status == 1 %} yellow {% else %} red {% endif %}">

            {% if user_request.status == 0 %}
            <i class="mdi-action-done-all"></i>
            {% elif user_request.status == 1 %}
            <i class="mdi-communication-dnd-on"></i>
            {% else %}
            <i class="mdi-action-https"></i>
            {% endif %}

          </span>

          <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
            <i class="mdi-editor-mode-edit"></i>
          </a>

          <span class="card-title activator grey-text text-darken-4">{{user_request}}</span>
          <p><i class="mdi-action-perm-phone-msg"></i> {{user_request.phone}}</p>
          <p><i class="mdi-communication-email"></i> {{user_request.email}}</p>

        </div>

        <div class="card-reveal">
          <span class="card-title red-text text-darken-4"><i class="mdi-navigation-close right"></i></span>

          <form class="col s12" method="POST">
            {% csrf_token %}

            {% for field in form  %}
            <div class="row">
              <div class="input-field col s12">
                <!--<i class="mdi-action-bookmark prefix active"></i>-->
                {% render_field field class="validate valid" %}
                <label for="{{field.auto_id}}" class="active">{{field.label}}</label>
              </div>
            </div>
            {% endfor %}

            <div class="row">
              <div class="input-field col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn green waves-effect waves-light right" type="submit" name="action">Atualizar
                      <i class="mdi-action-done right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </form>

        </div>

      </div>
    </div>

<div class="col s12 m6 l6">



  <div class="card  light-blue">

    {% if user_request.address %}

    <div class="card-content white-text">
      <span class="card-title">Endereço</span>
      <p><i class="mdi-maps-navigation"></i>  {{user_request.address.street}} | Nº {{user_request.address.number}}</p>
      <p><i class="mdi-maps-pin-drop"></i> {{user_request.address.neighborhood}}</p>
      <p><i class="mdi-maps-map"></i> {{user_request.address.city}}, {{user_request.address.state}}</p>
    </div>

    <div class="card-action">

      <a href="{% url 'adresses:update' user_request.address.pk user_request.pk %}"
      class="btn-floating btn-move-up waves-effect waves-light darken-2 right">
      <i class="mdi-editor-mode-edit"></i>
    </a>

    </div>
  {% else %}

  <div class="card-content white-text red">
    <p>Parece que você foi cadastrado sem endereço.</p>
    <p><a href="{% url 'adresses:new_address_user' user_request.pk %}" class="btn-flat white-text green waves-effect waves-green">Adicionar endereço</a></p>
  </div>

  {% endif %}

</div>
</div>
</div>
</div>

{% endblock %}
