{% extends "base.html" %}

{% load static %}

{% block body %}


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="cyan">
      <div class="nav-wrapper">

        <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1">
          <img src="{% static 'images/materialize-logo.png' %}" alt="materialize logo"></a>
        </h1>

        <ul class="right">
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
          </li>
          <!-- Dropdown Trigger -->
          <li>
            <a href="{% url 'accounts:logout' %}"> Sair</a>
          </li>
        </ul>


      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">

    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav">
      <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
          <div class="row">
            <div class="col col s4 m4 l4">
              <img src="{% static 'images/avatar.jpg' %}" alt="" class="circle responsive-img valign profile-image">
            </div>
            <div class="col col s8 m8 l8">
              <ul id="profile-dropdown" class="dropdown-content">
                <li><a href="{% url 'accounts:profile' %}"><i class="mdi-action-face-unlock"></i> Perfil</a>
                </li>
                <li><a href="{% url 'accounts:logout' %}"><i class="mdi-hardware-keyboard-tab"></i> Sair</a>
                </li>
              </ul>
              <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{user}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
            </div>
          </div>
        </li>

        <li class="bold {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}">
          <a href="{% url 'accounts:dashboard' %}" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
        </li>

        <li class="bold {% if request.resolver_match.url_name == 'list' %} active {% endif %}">
          <a href="{% url 'accounts:list' %}"> <i class="mdi-action-account-child"></i> Usuarios</a>
        </li>

        <li>
          <a href="#"><i class="mdi-action-shopping-basket"></i> Estoque</a>
        </li>
        <li class="bold {% if request.resolver_match.url_name == 'list_categories' %} active {% endif %}">
          <a href="{% url 'categories:list_categories'%}"><i class="mdi-notification-event-note"></i> Categoriass</a>
        </li>
      </ul>
    </aside>
    <!-- END LEFT SIDEBAR NAV-->


    {% block content %}

    {% endblock  %}


  </div>


</div>

<!-- START FOOTER -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2017 | Todos os direitos reservados.
      <span class="right"> Desenvolvido por <a class="grey-text text-lighten-4" href="#">GENOS</a></span>
    </div>
  </div>
</footer>
<!-- END FOOTER -->

{% endblock  %}
