{% extends "base_dashboard.html" %}

{% block content %}
<div class="page-header">
  <div class="row">
    <div class="col-lg-4">
      <h1>Carinho de Compra</h1>
    </div>
  </div>
</div>
<section class="dashboard-header">
  <div class="container-fluid">
    <div class="row">
      <div class="statistics col-lg-8 col-12">
        {% for c in itens_cart %}
        <div class="row statistic d-flex align-items-center bg-white has-shadow">
            <div class="col-lg-3 ">
                <div class="text"><small>Produto</small><br><strong>{{c.product}}</strong></div>
            </div>
            <div class="col-lg-4">
                <div class="text"><small>Quantidade</small><br>
                  {% if c.amounts > 1  %}<a href="{% url 'store:subitrair_item' c.pk %}" class="btn"><h3>-</h3></a> {% endif %}
                  <input type="text" value="{{c.amounts}}" size="2" disabled>
                  <a href="{% url 'store:somar_item' c.pk %}" class="btn"><h3>+</h3></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text"><small>Valor Unitario</small><br><strong>R$ {{c.value}}</strong></div>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'store:delete_item' c.pk %}" class="btn">Excluir</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="statistics col-lg-4 col-12">
        <div class="statistic d-flex align-items-center bg-white has-shadow">
          <div class="row">
            <div class="statistic col-lg-12 align-items-center">
              <div class="text "><h3>Compra Atual</h3></div>
            </div>
            <div class="statistic col-lg-12">
              <div class="text"><h3>Valor da Compra R$ {{ord.valueTotal}}</h3></div>
            </div>
            <div class="statistic col-lg-12">
              <a href="{% url 'store:finalizar' ord.pk %}" class="btn btn-danger">Finalizar Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock  %}
